# Source 'before' file (if any).
if test -f "$HOME/.aliases.before" -a -r "$HOME/.aliases.before"; then
    . "$HOME/.aliases.before"
fi


alias l='ls -lFh'
alias la='ls -lAFh'
alias ll='ls -l'
alias lt='ls -ltFh'
alias ldot='ls -ld .*'

alias grep='grep --color'

alias nt='nvim +term'

alias s=vimpager

alias rg='rg --smart-case'

alias tj='kill -TERM %1'
alias kj='kill -KILL %1'

# The global ignore file should contain uninteresting things (e.g. ctags).
alias ag='ag --path-to-ignore ~/.ignore'

# Skip annoying intro banner.
alias gdb='gdb -q'

# Very succint pylint output (only errors, warnings and grade).
alias pyl='pylint --disable=RP0001 --disable=RP0002 --disable=RP0003 --disable=RP0101 --disable=RP0401 --disable=RP0701 --disable=RP0801'


remake() {
    make clean || return $?
    if test $# -eq 0; then
        make
    else
        make $@
    fi
}

weather() {
    curl -4 "https://wttr.in/$1"
}

# Ideally, whenver an interactive python session is wanted, this should invoke
# bpython and the regular interpreter otherwise (bpython seems to sometimes
# break when non-interactive).
_py() {
    suffix=$1
    if test $# -ne 0; then
        shift
    fi

    # Consider all invocations with no arguments as interactive.
    if test $# -eq 0; then
        python$suffix -m bpython
    else
        python$suffix $@
    fi
}

# An array would be nice.
set "" 2 3
for suffix; do
    if python$suffix -m bpython -c "" &>/dev/null; then
        alias py$suffix="_py \"$suffix\""
    else
        if command -v python$suffix > /dev/null; then
            alias py$suffix=python$suffix
        fi
    fi
done
set --


# Interaction with neovim when running from its guest terminal.
if test -n "$NVIM_LISTEN_ADDRESS" -a -w "$NVIM_LISTEN_ADDRESS"; then
    # vim's cwd might differ from the shell's, so we manually match it
    alias v=nvim-host-cmd
    alias e='nvim-host-cmd edit'
    alias tabe='nvim-host-cmd tabedit'
    alias sp='nvim-host-cmd split'
    alias vsp='nvim-host-cmd vsplit'
    alias bo='nvim-host-cmd botright'
    alias to='nvim-host-cmd topleft'

    # neovim messes with this and vim has issues because of it
    # monitor: https://github.com/neovim/neovim/issues/9960#issuecomment-488262473
    # (we shove this here because this file is sourced by all shells and we
    # don't want it in .profile because we want non-login shells to source it).
    unset VIMRUNTIME

    # Reclaim incremental forward history search (and get rid of the idiotic
    # stop).
    # This should only be executed once, by a login shell; but it needs to be
    # executed once for every instance of a neovim terminal, which don't start
    # login shells.
    stty stop undef && stty start undef || true

    nvim_cd() {
        nvim-host-cmd "execute \"lcd\" fnameescape(\"$(pwd)\") | file term:$$:$(pwd)/$(basename $SHELL)"
    }
fi

# OS detection
OSTYPE=$(uname -s)

islinux() {
    test $OSTYPE = "Linux"
}

isdarwin() {
    test $OSTYPE = "Darwin"
}

isfreebsd() {
    test $OSTYPE = "FreeBSD"
}

isopenbsd() {
    test $OSTYPE = "OpenBSD"
}

issolaris() {
    test $OSTYPE = "SunOS"
}

# Source 'after' file (if any).
if test -f "$HOME/.aliases.after" -a -r "$HOME/.aliases.after"; then
    . "$HOME/.aliases.after"
fi
