# Source 'before' file (if any).
if test -f "$HOME/.aliases.before" -a -r "$HOME/.aliases.before"; then
    . "$HOME/.aliases.before"
fi


alias l='ls -lFh'
alias la='ls -lAFh'
alias ll='ls -l'
alias lt='ls -ltFh'
alias ldot='ls -ld .*'

alias zshrc='$EDITOR ~/.zshrc'

alias grep='grep --color'

alias fd='find . -type d -name'
alias ff='find . -type f -name'

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias vp=vimpager
alias vc=vimcat

# The global ignore file should contain uninteresting things (e.g. ctags).
alias ag='ag --path-to-ignore ~/.ignore'

# Skip annoying intro banner.
alias gdb='gdb -q'

# Very succint pylint output (only errors, warnings and grade).
alias pyl='pylint --disable=RP0001 --disable=RP0002 --disable=RP0003 --disable=RP0101 --disable=RP0401 --disable=RP0701 --disable=RP0801'


remake() {
    make clean || return $?
    if test $# -eq 0; then
        make
    else
        make $@
    fi
}

weather() {
    curl -4 "http://wttr.in/$1"
}

# Source 'after' file (if any).
if test -f "$HOME/.aliases.after" -a -r "$HOME/.aliases.after"; then
    . "$HOME/.aliases.after"
fi
