[include]
	path = ~/.gitconfig.local

[push]
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX

[color]
	ui = true

[color "status"]
	added = green
	changed = yellow
	untracked = red

[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22

[color "diff"]
	meta = yellow
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse

[diff "hex"]
	textconv = hexdump -v -C
	binary = true

[diff "zip"]
	textconv = unzip -v
	binary = true
[pull]
	rebase = true
