[submodule ".zsh/antigen-repo"]
	path = .zsh/antigen-repo
	url = https://github.com/zsh-users/antigen.git
	ignore = untracked
[submodule ".vim/plugins/Vundle.vim"]
	path = .vim/plugins/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "gits/peda"]
	path = gits/peda
	url = https://github.com/longld/peda.git
