[submodule ".zsh/antigen-repo"]
	path = .zsh/antigen-repo
	url = https://github.com/zsh-users/antigen.git
	ignore = untracked
[submodule "gits/peda"]
	path = gits/peda
	url = https://github.com/longld/peda.git
[submodule ".vim/plugins/vim-plug"]
	path = .vim/plugins/vim-plug
	url = https://github.com/junegunn/vim-plug.git
