" Function as a whitelist
*

" Allow vim stuff.
!.gvimrc
!.vimrc
!.vim/
!.vim/plugins.vim
!.vim/plugins-local-config/
!.vim/plugins-local-config/*
!.vim/plugins-global-config/
!.vim/plugins-global-config/*
!.vim/ftdetect/
!.vim/ftdetect/*
!.vim/after/
!.vim/after/**
!.vim/colors/
!.vim/colors/*
!.vim/syntax/
!.vim/syntax/*

" Allow zsh stuff.
!.zshrc
!.zprofile
!.zsh_aliases
!.zsh/
!.zsh/grml-arch.zsh
!.zsh/plugins.zsh
!.zsh/plugins.config/
!.zsh/plugins.config/*

!.gdbinit

!.ignore

" Allow shell stuff
!.profile
!.aliases

!gits/
!gits/*
!bin/
!bin/*

" Allow git stuff
!.gitignore
!.gitconfig

" Allow X stuff
!.xinitrc

" Allow all config stuff
!.config/
!.config/**
.config/nvim/lazy-lock.json
