" Function as a whitelist
*

" Allow vim stuff (it's mostly plugins which should be installed with Vundle)
!.gvimrc
!.vimrc
!.vim/
!.vim/vundles.vim
!.vim/vundles.config/
!.vim/ftdetect/
!.vim/ftplugin/
!.vim/colors/

" Allow zsh stuff (it's mostly plugins which should be installed with antigen)
!.zshrc
!.zsh/grml-arch.zsh

!.gdbinit

!gits/
!.scripts/

!.gitignore
