" Function as a whitelist
*

" Allow vim stuff.
!.gvimrc
!.vimrc
!.vim/
!.vim/plugins.vim
!.vim/plugins.config/
!.vim/plugins.config/*
!.vim/ftdetect/
!.vim/ftdetect/*
!.vim/after/
!.vim/after/*
!.vim/colors/
!.vim/colors/*

" Allow zsh stuff.
!.zshrc
!.zprofile
!.zsh/
!.zsh/grml-arch.zsh
!.zsh/plugins.zsh
!.zsh/plugins.config/
!.zsh/plugins.config/*

!.gdbinit

!.ignore

!.profile

!gits/
!gits/*
!bin/
!bin/*

!.gitignore
