configuration {
    modi: "window,drun,ssh,combi";
    combi-modi: "window,drun,ssh";
    show-icons: true;
    icon-theme: "Papirus";
    font: "hack 12";
    sort: true;
    matching: "fuzzy";
    terminal: "alacritty";
}

@theme "solarized"
